---

---

/* -----------------------------------Animations----------------------------------- */

@keyframes wiggle {
    0% { top: -5px; }
    50% { top: 5px; }
    100% { top: -5px; }
}

/* -----------------------------------Includes----------------------------------- */

{% include css/default.css %}

{% include css/index.css %}

{% include css/archive.css %}

{% include css/practice.css %}

{% include css/posts.css %}

{% include css/post-specific.css %}
