---
layout: default
---

<div class="container page-container practice">
    <h1 class="text-center">Practice</h1>
    <p class="text-center lead">Hone your C skills with some challenging questions.</p>
    <div class="col-12">
        <h2>Crazy With C - <span class="lead">Try solving some challenging output questions</span></h2>
        <ol>
        {% for collection in site.crazy_with_c %}
            <li>
                <a href="{{ site.baseurl }}{{ collection.url }}"><span class="title">{{ collection.title }} - {{ collection.serial }}</span></a></li>
        {% endfor %}
        </ol>
    </div>
    <div class="col-12">
        <h2>Code Like Pro! - <span class="lead">Get your hands dirty with some coding problems</span></h2>
        <ol>
        {% for collection in site.code_like_pro %}
            <li>
                <a href="{{ site.baseurl }}{{ collection.url }}"><span class="title">{{ collection.title }}</span></a>
            </li>
        {% endfor %}
        </ol>
    </div>
</div>
