<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p> Did you like the blog? Like my facebook page to get regular updates <p>
                <p><a href="https://www.facebook.com/learncwithme"> Learn C With Me </a></p>
                <div class="fb-like" data-href="https://www.facebook.com/learncwithme/" data-width="200" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
            </div>
            <div class="col-md-3">
                <p class="text-center">Connect with Me</p>
                <ul class="social-icons">
                    <li>
                        <a class="btn" href="https://www.facebook.com/friendyankan"><span class="fa fa-facebook-square fa-lg"></span> Facebook </a>
                    </li>
                    <li>
                        <a class="btn" href="https://plus.google.com/u/0/101331497280009937677"><span class="fa fa-google-plus-square fa-lg"></span> Google+ </a>
                    </li>
                    <li>
                        <a class="btn" href="https://www.github.com/ankan17"><span class="fa fa-github fa-lg"></span> Github </a>
                    </li>
                    <li>
                        <a class="btn" href="https://www.quora.com/profile/Ankan-Poddar"><span class="fa fa-quora fa-lg"></span> Quora </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <p> Have any query, suggestion, complaint or complement? Feel free to drop a few words at </p>
                <a> apoddar1701@gmail.com </a>
                <p> Copyright &copy; {{ site.time | date: '%Y' }} by Ankan Poddar<br />
                    All Rights Reserved </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center"> &copy; 2019, {} Made with <span class="fa fa-heart fa-lg"></span> by Ankan Poddar </p>
            </div>
        </div>
    </div>
</footer>
