#archive {
    width: 80%;
    margin: 0 auto;
    padding: 25px;
}

#archive h1 {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 50px;
    margin-bottom: 15px;
    margin-top: 10px;
}

#archive p.lead {
    font-size: 25px;
    margin-top: 10px;
}

#archive p.lead::after {
    content: "";
    width: 60%;
    display: block;
    margin: 20px auto;
    border-bottom: 1px solid #9a9a9a;
}

#archive h3 {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    margin: 30px auto 30px 40px;
}

#archive ul {
    list-style: none;
    margin-left: 30px;
}

#archive ul li {
    margin-bottom: 10px;
}

#archive ul li a {
    cursor: pointer;
}

#archive ul li a:hover {
    text-decoration: none;
}

#archive ul li .title {
    font-size: 21px;
}

#archive ul li .meta {
    font-size: 17px;
}

#archive ul li .date {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #858585;
}

@media(max-width: 768px) {

    #archive {
        width: 100%;
        padding: 0;
        padding-bottom: 60px;
    }

    #archive h1 {
        font-size: 40px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    #archive p.lead {
        font-size: 20px;
        margin-top: 10px;
    }

    #archive p.lead::after {
        width: 90%;
    }

    #archive h3 {
        font-size: 20px;
        margin: 20px auto 25px 10px;
    }

    #archive ul {
        margin-left: -5px;
    }

    #archive ul li {
        margin-top: 12px;
    }

    #archive ul li .title {
        font-size: 17px;
    }

    #archive ul li .meta {
        font-size: 14px;
    }

    #archive ul li .date {
        font-size: 11px;
    }
}
