#practice {
    width: 80%;
    margin: 0 auto;
    padding: 25px;
}

#practice h1 {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 45px;
    margin-bottom: 15px;
    margin-top: 10px;
}

#practice p.lead {
    font-size: 22px;
    margin-top: 10px;
}

#practice p.lead::after {
    content: "";
    width: 100%;
    display: block;
    margin: 20px auto;
    border-bottom: 1px solid #9a9a9a;
}

.practice h3 {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    margin: 30px auto 30px 40px;
}

#practice ol {
    margin-left: 30px;
}

#practice ol li {
    margin-bottom: 10px;
}

#practice ol li a {
    cursor: pointer;
}

#practice ol li a:hover {
    text-decoration: none;
}

#practice ol li .title {
    font-size: 21px;
}

#practice ol li .meta {
    font-size: 17px;
}

#practice ol li .date {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #858585;
}

#crazy-with-c {
    width: 75%;
    margin: 0 auto;
    padding: 30px;
}

#crazy-with-c h1 {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#crazy-with-c p.lead {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

#crazy-with-c p.lead::after {
    content: "";
    width: 80%;
    display: block;
    margin: 20px auto;
    border-bottom: 1px solid #9a9a9a;
}

#crazy-with-c ol .question {
    font-size: 20px;
    margin-bottom: 40px;
}

#crazy-with-c p {
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 35px;
    text-align: justify;
}

.practice ol {
    font-size: 20px;
    margin-bottom: 40px;
}

#crazy-with-c ol .question figure {
    margin-top: -30px;
    margin-left: 10px;
}

#crazy-with-c ol .question pre code {
    font-size: 15px;
    line-height: 22px;
}

#crazy-with-c ol .question .options {
    margin: 20px 0;
}

#crazy-with-c ol .question .options div {
    font-size: 18px;
}

#crazy-with-c .question .btn {
    padding: 8px 15px;
    font-size: 17px;
    margin: 20px;
    margin-bottom: 0;
}

#crazy-with-c .solution {
    font-size: 17px;
    margin: 25px auto;
    display: none;
}

#crazy-with-c .solution strong {
    font-size: 16px;
    margin-left: 10px;
}

#crazy-with-c a:hover {
    text-decoration: none;
}

#code-like-pro {
    width: 85%;
    margin: 0 auto;
    padding: 30px;
}

#code-like-pro h1 {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#code-like-pro p.lead {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#code-like-pro p.lead::after {
    content: "";
    width: 80%;
    display: block;
    margin: 30px auto;
    border-bottom: 1px solid #9a9a9a;
}

#code-like-pro ol {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 40px;
}

#code-like-pro ol li {
    font-size: 18px;
    margin-bottom: 20px;
}

#code-like-pro p {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

#code-like-pro .solution {
    font-size: 30px;
    text-align: center;
    margin: 60px auto;
}

#code-like-pro .solution a {
    cursor: pointer;
}

#code-like-pro a:hover {
    text-decoration: none;
}

#code-like-pro .img-responsive {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

@media only screen and (max-width: 768px) {

    #practice {
        width: 100%;
        padding: 0;
    }

    #practice h1 {
        font-size: 40px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    #practice p.lead {
        font-size: 20px;
        margin-top: 10px;
    }

    #practice p.lead::after {
        width: 90%;
    }

    #practice h3 {
        font-size: 20px;
        margin: 10px auto 20px 10px;
    }

    #practice ol {
        margin-left: -5px;
    }

    #practice ol li .title {
        font-size: 17px;
    }

    #practice ol li .meta {
        font-size: 14px;
    }

    #practice ol li .date {
        font-size: 11px;
    }

    #crazy-with-c {
        width: 100%;
        padding: 30px 15px;
    }

    #crazy-with-c h1 {
        font-size: 35px;
        margin-bottom: 10px;
        margin-top: 0;
    }

    #crazy-with-c p.lead {
        font-size: 17px;
        margin-bottom: 20px;
    }

    #crazy-with-c p.lead::after {
        width: 100%;
        margin: 10px auto 30px auto;
    }

    #crazy-with-c ol {
        margin-left: 10px;
    }

    #crazy-with-c ol .question {
        margin-bottom: 20px;
    }

    #crazy-with-c ol .question pre code {
        font-size: 12px;
        line-height: 22px;
    }

    #crazy-with-c ol .question .options div {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 15px;
    }

    #crazy-with-c .question .btn {
        padding: 5px 10px;
        font-size: 14px;
        margin: 0 auto 0 10px;
    }

    #crazy-with-c .solution {
        font-size: 15px;
        margin: 30px auto 0 auto;
    }

    #crazy-with-c .solution strong {
        font-size: 15px;
        margin-left: 10px;
    }

    #crazy-with-c .col-xs-12 p {
        font-size: 14px;
        line-height: 26px;
    }

    #code-like-pro {
        width: 100%;
        padding: 30px 15px;
    }

    #code-like-pro h1 {
        font-size: 40px;
        margin-bottom: 0;
        margin-top: 0;
    }

    #code-like-pro p.lead {
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    #code-like-pro p.lead::after {
        width: 100%;
        margin: 35px auto 20px auto;
    }

    #code-like-pro .col-xs-12 {
        padding: 0;
    }

    #code-like-pro ol {
        padding-left: 25px;
    }

    #code-like-pro ol li, #code-like-pro ol li p {
        font-size: 15px;
        margin-bottom: 15px;
        line-height: 20px;
    }

    #code-like-pro p {
        font-size: 17px;
        line-height: 26px;
        margin-top: 20px;
    }

    #code-like-pro .solution {
        font-size: 26px;
        margin: 20px auto;
    }
}
