---
layout: default
---

<div class="row" id="crazy-with-c">
    <h1 class="text-center">Crazy With C - {{ page.serial }}</h1>
    <p class="text-center lead">Solve some challenging questions in C</p>
    <ol class="col-sm-11 col-xs-12">
        {{ content }}
    </ol>
    <div class="col-xs-12"><p>Have any doubt regarding the answer of any question? Not satisfied with any answer? Send in an email regarding your doubt on <a>ankan.learncwithme@gmail.com</a>. I'll be happy to hear from you.</p></div>
</div>
