---
layout: default
---

<div class="container post-container" post-serial="{{ page.serial }}">

    <h1 class="text-center post-title">{{ page.title }}</h1>
    <p class="content-date">{{ page.date | date: "%B %d, %Y" }}</p>
    <div class="post-content">
      <input type="hidden" name="tag" value="{{ page.label }}" />
      {{ content }}
      <p><strong>PS:</strong> Subscribe to
        <a href="https://www.dailycodingproblem.com/" target="_blank">Daily Coding Problems</a>
        for more fun problems.
      <p>
    </div>

    <!-- Facebook comments -->
    {% if page.comments %}
    <div class="comments">
        <div class="fb-comments" data-href="http://ankan17.github.io{{ site.baseurl }}{{ page.url }}" data-numposts="5" data-width="100%"></div>
    </div>
    {% endif %}

    <!-- Pagination links -->
    <div class="pagination">

        {% if page.previous.url %}
            <a class="pagination-item previous" href="{{ site.baseurl }}{{ page.previous.url }}">Previous</a>
        {% else %}
            <span class="pagination-item previous">Previous</span>
        {% endif %}

        {% if page.next.url %}
            <a class="pagination-item next" href="{{ site.baseurl }}{{ page.next.url }}">Next</a>
        {% else %}
            <span class="pagination-item next">Next</span>
        {% endif %}

    </div>

</div>
