<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Learn C with me {% if page.title %}- {{ page.title }} {% endif %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="page-header">
			<h3 class="brand"><a class="navbar-brand brand-link" href="{{ site.baseurl }}/index.html">ABC of C</a></h3>
		</div>
		{{ content }}
	</div>
</body>
</html>