---
layout: default
comments: true
---

<div class="container post-content">
    <div class="row">
	    <h1>{{ page.title }}</h1>
    	<h2>{{ page.meta }}</h2>
    	<p class="content-date"><strong>{{ page.date | date: "%B %d, %Y" }}</strong></p>
    	{{ content }}
    </div>
</div>

<div class="container navigation">
    <div class="row">

    	{% if page.previous.url %}
      	<div class="col-xs-4"><a class="btn btn-danger btn-lg" href="{{ site.baseurl }}{{ page.previous.url }}">
    	  	<span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span> Previous: {{ page.previous.title }}
        </a></div>

        <div class="col-xs-4"><a class="btn btn-primary btn-lg" href="{{ page.link }}"> Download as PDF </a></div>

      	{% else %}
        <div class="col-xs-4 col-xs-offset-4"><a class="btn btn-primary btn-lg" href="{{ page.link }}"> Download as PDF </a></div>

        {% endif %}

        {% if page.next.url %}
        <div class="col-xs-4"><a class="btn btn-success btn-lg" href="{{ site.baseurl }}{{ page.next.url }}">
      		Next: {{ page.next.title }} <span class="glyphicon glyphicon glyphicon-menu-right align-right" aria-hidden="true"></span>
        </a></div>
        {% endif %}

    </div>
</div>
