---
layout: default
comments: true
---

<div class="container post-content">
    <div class="row">
	    <h1>{{ page.title }}</h1>
    	<h2>{{ page.meta }}</h2>
    	<p class="content-date"><strong>{{ page.date | date: "%B %d, %Y" }}</strong></p>
    	{{ content }}
    </div>
</div>

<div class="container navigation">
    	{% if page.previous.url %}
      	<a class="btn btn-danger btn-lg" href="{{ site.baseurl }}{{ page.previous.url }}">
    	  	<span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous<span class="hidden-xs">: {{ page.previous.title }}</span>
        </a>

        {% if page.link %}<a class="btn btn-primary btn-lg" href="{{ page.link }}"> Download<span class="hidden-xs"> as Pdf </span></a>
        {% endif %}

      	{% else %}
        {% if page.link %}<a class="btn btn-primary btn-lg" href="{{ page.link }}"> Download<span class="hidden-xs"> as Pdf </span> </a>
        {% endif %}

        {% endif %}

        {% if page.next.url %}
        <a class="btn btn-success btn-lg" href="{{ site.baseurl }}{{ page.next.url }}">
      		Next<span class="hidden-xs">: {{ page.next.title }} </span><span class="glyphicon glyphicon glyphicon-menu-right align-right" aria-hidden="true"></span>
        </a>
        {% endif %}
</div>
